@import url('Validation.css');

body {
	font-family: sans-serif;
	background: linear-gradient(lightgray 0, transparent 100%) no-repeat;
	background-size: 100% 70px;
	padding: 0;
}

#voting{
    height: 4em;
}

ul{
    /*transform: rotate(1deg);*/
}

li{
    transition: 1s;
    padding: .3em;
    border: 1px solid black;
}
li+li{
    border-top: none;
}



li:hover{
    transition: 0;
    background-color: red;
    /*transform: rotate(40deg);
    transform-origin: center left;*/
}

:focus{
    border: thin solid red;
}

:target{
    background-color: lightblue;
}
