
@{
    ViewBag.Title = "Logon";
}

<h2>Logg på</h2>


<form method="post">
    <label for="username">Brukernavn:</label>
    <input type="text" name="username" id="username" value="" />
    <br />
    <label for="password">Passord:</label>
    <input type="password" name="password" id="password" value="" />
    <br />
    <button>Logg på</button>
</form>


